/****************************/
/* Grid Style               */
/****************************/
.grid-tenth, .grid-nineth, .grid-eighth, .grid-seventh, .grid-sixth, .grid-fifth, .grid-fourth, .grid-third, .grid-two-fifths, .grid-three-sevenths, .grid-half, .grid-three-fifths, .grid-two-thirds, .grid-three-fourths, .grid-four-fifths, .grid-full {
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px; }

.grid-tenth:last-child,
.grid-nineth:last-child,
.grid-eighth:last-child,
.grid-seventh:last-child,
.grid-sixth:last-child,
.grid-fifth:last-child,
.grid-fourth:last-child,
.grid-third:last-child,
.grid-two-fifths:last-child,
.grid-three-sevenths:last-child,
.grid-half:last-child,
.grid-three-fifths:last-child,
.grid-two-thirds:last-child,
.grid-three-fourths:last-child,
.grid-four-fifths:last-child,
.grid-full:last-child {
  margin-bottom: 0px; }

.grid-tenth.strong,
.grid-nineth.strong,
.grid-eighth.strong,
.grid-seventh.strong,
.grid-sixth.strong,
.grid-fifth.strong,
.grid-fourth.strong,
.grid-third.strong,
.grid-two-fifths.strong,
.grid-three-sevenths.strong,
.grid-half.strong,
.grid-three-fifths.strong,
.grid-two-thirds.strong,
.grid-three-fourths.strong,
.grid-four-fifths.strong,
.grid-full.strong {
  font-weight: bold; }

.row .text-right,
.row .text-center {
  text-align: left; }

.row,
.row-single,
.row-xxsmall,
.row-xsmall,
.row-small,
.row-large,
.row-xlarge {
  margin-left: -10px;
  margin-right: -10px; }

.row,
.row-xxsmall,
.row-xsmall,
.row-small,
.row-large,
.row-xlarge {
  margin-bottom: 10px; }

.row:last-child,
.row-xxsmall:last-child,
.row-xsmall:last-child,
.row-small:last-child,
.row-large:last-child,
.row-xlarge:last-child {
  margin-bottom: 0px; }

.row:after,
.row-single:after,
.row-xxsmall:after,
.row-xsmall:after,
.row-small:after,
.row-large:after,
.row-xlarge:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* Reverses order of grid for content choreography */
.grid-flip {
  float: right; }

.grid-header {
  font-weight: 600; }

/* Grid responsive style */
@media (min-width: 10em) {
  margin-bottom: 0;
  .row-xxsmall .text-right {
    text-align: right; }

  .row-xxsmall .text-center {
    text-align: center; }

  .row-xxsmall .grid-tenth {
    width: 10%;
    margin-bottom: 0; }

  .row-xxsmall .grid-nineth {
    width: 11.1%;
    margin-bottom: 0; }

  .row-xxsmall .grid-eighth {
    width: 12.5%;
    margin-bottom: 0; }

  .row-xxsmall .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0; }

  .row-xxsmall .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0; }

  .row-xxsmall .grid-fifth {
    width: 20%;
    margin-bottom: 0; }

  .row-xxsmall .grid-fourth {
    width: 25%;
    margin-bottom: 0; }

  .row-xxsmall .grid-third {
    width: 33.33333%;
    margin-bottom: 0; }

  .row-xxsmall .grid-two-fifths {
    width: 40%;
    margin-bottom: 0; }

  .row-xxsmall .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row-xxsmall .grid-half {
    width: 50%;
    margin-bottom: 0; }

  .row-xxsmall .grid-three-fifths {
    width: 60%;
    margin-bottom: 0; }

  .row-xxsmall .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0; }

  .row-xxsmall .grid-three-fourths {
    width: 75%;
    margin-bottom: 0; }

  .row-xxsmall .grid-four-fifths {
    width: 80%;
    margin-bottom: 0; }

  .row-xxsmall .grid-full {
    width: 100%;
    margin-bottom: 0; } }
@media (min-width: 20em) {
  margin-bottom: 0;
  .row-xsmall .text-right {
    text-align: right; }

  .row-xsmall .text-center {
    text-align: center; }

  .row-xsmall .grid-tenth {
    width: 10%;
    margin-bottom: 0; }

  .row-xsmall .grid-nineth {
    width: 11.1%;
    margin-bottom: 0; }

  .row-xsmall .grid-eighth {
    width: 12.5%;
    margin-bottom: 0; }

  .row-xsmall .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0; }

  .row-xsmall .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0; }

  .row-xsmall .grid-fifth {
    width: 20%;
    margin-bottom: 0; }

  .row-xsmall .grid-fourth {
    width: 25%;
    margin-bottom: 0; }

  .row-xsmall .grid-third {
    width: 33.33333%;
    margin-bottom: 0; }

  .row-xsmall .grid-two-fifths {
    width: 40%;
    margin-bottom: 0; }

  .row-xsmall .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row-xsmall .grid-half {
    width: 50%;
    margin-bottom: 0; }

  .row-xsmall .grid-three-fifths {
    width: 60%;
    margin-bottom: 0; }

  .row-xsmall .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0; }

  .row-xsmall .grid-three-fourths {
    width: 75%;
    margin-bottom: 0; }

  .row-xsmall .grid-four-fifths {
    width: 80%;
    margin-bottom: 0; }

  .row-xsmall .grid-full {
    width: 100%;
    margin-bottom: 0; } }
@media (min-width: 30em) {
  margin-bottom: 0;
  .row-small .text-right {
    text-align: right; }

  .row-small .text-center {
    text-align: center; }

  .row-small .grid-tenth {
    width: 10%;
    margin-bottom: 0; }

  .row-small .grid-nineth {
    width: 11.1%;
    margin-bottom: 0; }

  .row-small .grid-eighth {
    width: 12.5%;
    margin-bottom: 0; }

  .row-small .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0; }

  .row-small .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0; }

  .row-small .grid-fifth {
    width: 20%;
    margin-bottom: 0; }

  .row-small .grid-fourth {
    width: 25%;
    margin-bottom: 0; }

  .row-small .grid-third {
    width: 33.33333%;
    margin-bottom: 0; }

  .row-small .grid-two-fifths {
    width: 40%;
    margin-bottom: 0; }

  .row-small .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row-small .grid-half {
    width: 50%;
    margin-bottom: 0; }

  .row-small .grid-three-fifths {
    width: 60%;
    margin-bottom: 0; }

  .row-small .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0; }

  .row-small .grid-three-fourths {
    width: 75%;
    margin-bottom: 0; }

  .row-small .grid-four-fifths {
    width: 80%;
    margin-bottom: 0; }

  .row-small .grid-full {
    width: 100%;
    margin-bottom: 0; } }
@media (min-width: 40em) {
  .row .text-right {
    text-align: right; }

  .row .text-center {
    text-align: center; }

  .row .grid-tenth {
    width: 10%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-nineth {
    width: 11.1%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-eighth {
    width: 12.5%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-fifth {
    width: 20%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-fourth {
    width: 25%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-third {
    width: 33.33333%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-two-fifths {
    width: 40%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row .grid-half {
    width: 50%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-three-fifths {
    width: 60%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-three-fourths {
    width: 75%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-four-fifths {
    width: 80%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-full {
    width: 100%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .offset-fourth {
    margin-left: 25%; }

  .offset-third {
    margin-left: 33.33333%; }

  .offset-half {
    margin-left: 50%; }

  .offset-two-thirds {
    margin-left: 66.66667%; }

  .offset-three-fourths {
    margin-left: 75%; }

  .offset-full {
    margin-left: 100%; } }
@media (min-width: 70em) {
  .row-large .text-right {
    text-align: right; }

  .row-large .text-center {
    text-align: center; }

  .row-large .grid-tenth {
    width: 10%;
    margin-bottom: 0; }

  .row-large .grid-nineth {
    width: 11.1%;
    margin-bottom: 0; }

  .row-large .grid-eighth {
    width: 12.5%;
    margin-bottom: 0; }

  .row-large .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0; }

  .row-large .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0; }

  .row-large .grid-fifth {
    width: 20%;
    margin-bottom: 0; }

  .row-large .grid-fourth {
    width: 25%;
    margin-bottom: 0; }

  .row-large .grid-third {
    width: 33.33333%;
    margin-bottom: 0; }

  .row-large .grid-two-fifths {
    width: 40%;
    margin-bottom: 0; }

  .row-large .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row-large .grid-half {
    width: 50%;
    margin-bottom: 0; }

  .row-large .grid-three-fifths {
    width: 60%;
    margin-bottom: 0; }

  .row-large .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0; }

  .row-large .grid-three-fourths {
    width: 75%;
    margin-bottom: 0; }

  .row-large .grid-four-fifths {
    width: 80%;
    margin-bottom: 0; }

  .row-large .grid-full {
    width: 100%;
    margin-bottom: 0; } }
@media (min-width: 90em) {
  .row-xlarge .text-right {
    text-align: right; }

  .row-xlarge .text-center {
    text-align: center; }

  .row-xlarge .grid-tenth {
    width: 10%;
    margin-bottom: 0; }

  .row-xlarge .grid-nineth {
    width: 11.1%;
    margin-bottom: 0; }

  .row-xlarge .grid-eighth {
    width: 12.5%;
    margin-bottom: 0; }

  .row-xlarge .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0; }

  .row-xlarge .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0; }

  .row-xlarge .grid-fifth {
    width: 20%;
    margin-bottom: 0; }

  .row-xlarge .grid-fourth {
    width: 25%;
    margin-bottom: 0; }

  .row-xlarge .grid-third {
    width: 33.33333%;
    margin-bottom: 0; }

  .row-xlarge .grid-two-fifths {
    width: 40%;
    margin-bottom: 0; }

  .row-xlarge .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row-xlarge .grid-half {
    width: 50%;
    margin-bottom: 0; }

  .row-xlarge .grid-three-fifths {
    width: 60%;
    margin-bottom: 0; }

  .row-xlarge .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0; }

  .row-xlarge .grid-three-fourths {
    width: 75%;
    margin-bottom: 0; }

  .row-xlarge .grid-four-fifths {
    width: 80%;
    margin-bottom: 0; }

  .row-xlarge .grid-full {
    width: 100%;
    margin-bottom: 0; } }

/*# sourceMappingURL=qp-grid.css.map */
