.qp-table {
  width: 100%;
  margin-bottom: 1em;
  /*
  tfoot td {
  text-align: center;
  }
  @media (min-width: 62em) {
  tfoot {
  font-size: .9em;
  }
  }*/
  /* Custom qp-report styles */
  /* Animations */ }
  .qp-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden; }
  .qp-table thead th {
    background-color: rgba(107, 164, 29, 0.8);
    border: 1px solid rgba(107, 164, 29, 0.4);
    text-align: center;
    color: white; }
  .qp-table thead th:first-of-type {
    text-align: left; }
  .qp-table tbody,
  .qp-table tr,
  .qp-table th,
  .qp-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal; }
  .qp-table th,
  .qp-table td {
    padding: .5em;
    vertical-align: middle; }
  .qp-table tfoot {
    font-style: italic; }
  .qp-table tbody tr {
    margin-bottom: 1em;
    border: 2px solid #6BA41D;
    cursor: pointer; }
  .qp-table tfoot tr {
    margin-top: 1em; }
  .qp-table tbody tr:last-of-type {
    margin-bottom: 0; }
  .qp-table tbody th[scope="row"],
  .qp-table tfoot th[scope="row"] {
    background-color: #6BA41D;
    color: white; }
  .qp-table tbody td,
  .qp-table tfoot td {
    text-align: right; }
  .qp-table tfoot th:empty,
  .qp-table tfoot td:empty {
    display: none; }
  .qp-table tbody td[data-type=currency] {
    text-align: right; }
  .qp-table tfoot td[data-type=currency] {
    text-align: right; }
  .qp-table tbody td[data-title]:before,
  .qp-table tfoot td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: .8em;
    color: rgba(94, 93, 82, 0.75); }
  @media (min-width: 30em) {
    .qp-table th,
    .qp-table td {
      padding: .75em .5em; }
    .qp-table tbody td {
      border-bottom: 1px solid #CCC; }
    .qp-table tbody td[data-title]:before,
    .qp-table tfoot td[data-title]:before {
      font-size: .9em; } }
  @media (min-width: 48em) {
    .qp-table {
      font-size: .9em; }
      .qp-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto; }
      .qp-table tr {
        display: table-row; }
      .qp-table tbody {
        display: table-row-group; }
      .qp-table tbody tr,
      .qp-table tfoot tr {
        display: table-row;
        border-width: 1px; }
      .qp-table tfoot th:empty,
      .qp-table tfoot td:empty {
        display: table-cell !important; }
      .qp-table th,
      .qp-table td {
        display: table-cell;
        padding: .5em; }
      .qp-table tbody th[scope="row"],
      .qp-table tfoot th[scope="row"] {
        background-color: transparent;
        color: #333;
        text-align: left; }
      .qp-table tbody th[scope="row"] {
        border-bottom: 1px solid #CCC; }
      .qp-table tbody tr:nth-of-type(even) {
        background-color: rgba(94, 93, 82, 0.1); }
      .qp-table tbody tr.selected {
        background-color: #C6C6C6; }
      .qp-table tbody tr:hover {
        /*background-color: #E2FFD9 !important;*/
        background-color: #d0e4b5 !important; }
      .qp-table tbody td,
      .qp-table tfoot td {
        text-align: center; }
      .qp-table tbody th[data-align=right],
      .qp-table tbody td[data-align=right],
      .qp-table tfoot th[data-align=right],
      .qp-table tfoot td[data-align=right] {
        text-align: right; }
      .qp-table tbody td[data-title]:before,
      .qp-table tfoot td[data-title]:before {
        content: none; } }
  @media (min-width: 62em) {
    .qp-table {
      font-size: 1em; }
      .qp-table th,
      .qp-table td {
        padding: .75em .5em; } }
  @media (min-width: 75em) {
    .qp-table th,
    .qp-table td {
      padding: .75em; } }
  @media print {
    .qp-table {
      font-size: 0.7em; }
      .qp-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto; }
      .qp-table thead th {
        border: none;
        border-bottom: 2px solid black; }
      .qp-table tbody tr {
        border: none;
        border-bottom: 1px solid black; }
      .qp-table tr {
        display: table-row; }
      .qp-table tbody {
        display: table-row-group; }
      .qp-table tbody tr,
      .qp-table tfoot tr {
        display: table-row;
        border-width: 1px; }
      .qp-table tfoot th:empty,
      .qp-table tfoot td:empty {
        display: table-cell !important; }
      .qp-table th,
      .qp-table td {
        display: table-cell;
        padding: .5em; }
      .qp-table tbody th[scope="row"],
      .qp-table tfoot th[scope="row"] {
        background-color: transparent;
        color: #333;
        text-align: left; }
      .qp-table tbody th[scope="row"] {
        border-bottom: 1px solid #CCC; }
      .qp-table tbody td,
      .qp-table tfoot td {
        text-align: center; }
      .qp-table tbody th[data-align=right],
      .qp-table tbody td[data-align=right],
      .qp-table tfoot th[data-align=right],
      .qp-table tfoot td[data-align=right] {
        text-align: right; }
      .qp-table tbody td[data-title]:before,
      .qp-table tfoot td[data-title]:before {
        content: none; } }
  @media (min-width: 48em) {
    .qp-table .history-user {
      vertical-align: top;
      width: 125px;
      text-align: center !important; }
    .qp-table .history-message {
      text-align: left; }
    .qp-table .qp-text-left {
      text-align: left; }
    .qp-table .qp-text-right {
      text-align: right; } }
  .qp-table .ng-enter {
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    opacity: 0; }
  .qp-table .ng-enter-active {
    opacity: 1; }

/*# sourceMappingURL=qp-table.css.map */
