
@import url(//fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import "qp-styles/qualpay.scss";

  .header{
    width: 100%;
    padding-bottom: 60px;
    border-bottom: 1px solid #6BA41D
  }

  .logo{
    float: left;
    height: 50px;
    width: 60px;
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;

    .text-large{
        font-size: 150%;
        color: #585852;
    }
    .receipt {
      background-color: white;
      box-shadow: 10px 10px 5px #888888;
      border-style: solid;
      border-width: thin;
      border-color: green;
    }
  }
